@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$font-family-base: Roboto;
$headings-font-family: Roboto;

$enable-grid-classes:false;
$primary:#7F0FFF;
$secondary:#bed6d5;
$success:#420084;
$danger:#f2460d;
$info:#7ebcfa;
$warning:#ff9933;
$light:#eef0f2;
$dark:#000633;

@import "../../node_modules/bootstrap/scss/bootstrap";
